extends ../layout
block content
    artcle
        if topic
            h2= topic.title
            = topic.description
            div= 'by '+topic.author
        else
            h2 Welcome
            | This is a Simple Web Application
    ul
        li
            a(href='/board/add') add
        if topic
            li
                a(href='/board/'+topic.id+'/edit') edit
            li
                a(href='/board/'+topic.id+'/delete') delete

