extends ../layout
block content
    artcle
        h1= 'Delete? '+topic.title
        form(action='/board/'+topic.id+'/delete' method='post')
            p
                input(type='submit' value='YES')
        a(href='/board/'+topic.id) NO